<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="LexiFlow" Language="1033" Version="$(var.Version)"
           Manufacturer="LexiFlow" UpgradeCode="f8b0f6f0-0f6a-4a6a-9a6a-lexiflow01">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of LexiFlow is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="LexiFlow" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="LexiFlow" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="LexiFlow" />
      </Directory>
    </Directory>

    <Component Id="LexiFlowShortcut" Guid="*" Directory="ApplicationProgramsFolder">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="LexiFlow"
                Description="LexiFlow desktop app"
                Target="[INSTALLFOLDER]LexiFlow.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\LexiFlow" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Product>
</Wix>
